<div class="sm:h-[210px] h-full py-6 px-5 sm:py-[48px] sm:px-[41px] border-t bg-[#0C1030] flex   font-sans gap-5 flex-col">

    <!-- top -->
    <div class=" w-full min-h-fit gap-4 flex flex-col sm:flex-row  justify-between items-center ">
  
      <a href="/" class="flex items-center">
        <img src="/Footer/logo.png?v=3" alt="J4.Innovate Logo" class="h-[72px] object-contain hover:opacity-90 transition-opacity" />
      </a>
      <div class="flex flex-col sm:flex-row  h-full gap-3 text-[#D0D5DD]  items-center">
        <a class="hover:underline font-thin  text-sm  " href="/#AboutUs">About Us</a>
        <a class="hover:underline font-thin  text-sm  " href="/#Features">Features</a>
        <a class="hover:underline font-thin  text-sm  " href="/scan">Scan Resume</a>
        <a class="hover:underline font-thin  text-sm  " href="mailto:j4innovate@gmail.com">Contact</a>
      </div>
  
  </div>

  <hr class="border-gray-700" />

<!-- bottom -->
<div class=" w-full  flex flex-col-reverse sm:flex-row   sm:justify-between items-center sm:gap-0 gap-4">
    <div class="  text-xs  text-[#D0D5DD] ">Copyright © 2026 J4.Innovate. All rights reserved.</div>
    <div class="flex flex-col sm:flex-row gap-2 sm:gap-6 text-xs text-[#D0D5DD]">
      <a class="hover:underline" href="mailto:j4innovate@gmail.com">j4innovate@gmail.com</a>
      <span>|</span>
      <a class="hover:underline" href="tel:+919737920278">+91 9737920278</a>
    </div>
    <div class="flex text-[#D0D5DD] gap-8">
      <a href="#" target="_blank"><img src="/Footer/linkdin.png" alt="LinkedIn" class="h-5 cursor-pointer" /></a>
      <a href="#" target="_blank"> <img src="/Footer/Youtube.png" alt="YouTube" class="h-5 cursor-pointer" /></a>
      <a href="#" target="_blank"> <img src="/Footer/Twitter.png" alt="Twitter" class="h-5 cursor-pointer" /></a>
      <a href="#" target="_blank"><img src="/Footer/Instagram.png" alt="Instagram" class="h-5 cursor-pointer" /></a>
      <a href="#" target="_blank"><img src="/Footer/Github.png" alt="GitHub" class="h-5 cursor-pointer" /></a>
    </div>
  </div>
</div>